<p align="center">
  <a href="http://www.puntorigen.com/" target="blank"><img src="https://user-images.githubusercontent.com/57605485/144762579-7114f229-a01a-4afd-9a18-62ec3dbf3478.png" width="320" alt="Concepto DSL Logo" /></a>
</p>
<p align="center">A progressive <a href="http://nodejs.org" target="blank">Node.js</a> framework for visually building efficient and scalable nodejs based applications.</p>
<p align="center">
    <a href="https://www.npmjs.com/~puntorigen"><img src="https://img.shields.io/npm/v/@concepto/vue.svg" alt="NPM Version" /></a>
    <a href="https://www.npmjs.com/~puntorigen"><img src="https://img.shields.io/npm/l/@concepto/vue.svg" alt="Package License" /></a>
    <a href="https://www.npmjs.com/~puntorigen"><img src="https://img.shields.io/npm/dm/@concepto/vue.svg" alt="NPM Downloads" /></a>
    <a href="https://www.npmjs.com/~puntorigen" target="_blank"><img src="https://img.shields.io/tokei/lines/github/puntorigen4u/concepto_cli"></a>
    <a href="https://twitter.com/punt0rigen" target="_blank"><img src="https://img.shields.io/twitter/follow/punt0rigen.svg?style=social&label=Follow"></a>
</p>

## Description
<a href="https://nuxtjs.org/">NuxtJS + VueJS</a> module for <a href="https://www.npmjs.com/package/@concepto/cli">Concepto DSL</a>

## Installation

```
$ npm install -g @concepto/cli
```

## Usage

```terminal
vue_dsl -s absolute_or_relative_file_to_compile.dsl
```
## Help:

```terminal
vue_dsl --help
```

## Stay in touch

- Website - [http://www.puntorigen.com](http://puntorigen.com/)
- Twitter - [@punt0rigen](https://twitter.com/punt0rigen)

## License

Concepto is [MIT licensed](LICENSE).

Concepto DSL - visually create and maintain modern node.js based apps (@vue).

* * *
&copy; 2020-2022 Pablo Schaffner &lt;pablo@puntorigen.com&gt;.